
<ul>
  <hr />
  <h6 class="center-align">Admin tools</h6>
  <hr />
  <li class="list_item">
    <i class="material-icons" style="padding-right: 4px">
      manage_accounts
    </i>
    <a href="/admin/myAccount"> My Account</a>
  </li>
  <li class="list_item">
    <i class="material-icons" style="padding-right: 4px">
      qr_code_2
    </i>
    <a href="/admin/products"> Products</a>
  </li>
  <li class="list_item">
    <i class="material-icons" style="padding-right: 4px">
      <span class="material-symbols-outlined">
        signal_cellular_alt
      </span>
    </i>
    <a href="#"> Analytics</a>
  </li>
  <li class="list_item">
    <i class="material-icons " style="padding-right: 4px">
      query_stats
    </i>
    <a href="#"> Reports</a>
  </li>
  <br /><br />
  <hr />
  <h6 class="center-align">Configuration</h6>
  <hr />
  <li class="list_item">
    <i class="material-icons " style="padding-right: 4px">
      settings
    </i>
    <a href="#"> Settings</a>
  </li>
  <li class="list_item">
    <i class="material-icons" style="padding-right: 4px">
      lock
    </i>
    <a href="#"> Privacy</a>
  </li>
  <li class="list_item">
    <i class="material-icons" style="padding-right: 4px">
      logout
    </i>
    <a href="/logout"> Logout</a>
  </li>

  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
  <li><a href="#"></a></li>
</ul>


